<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	Y esto es el principio hola

	<!-- <div th:insert="@{/libros}"></div> -->

	<br>
	<br>

	<a href="/libros" th:href="@{/libros}">Libros</a>

	<br>

	<br>

	<a href="/libros" th:href="@{/alumnos}">Alumnos</a>

	<br>

	<br>

	<a href="/libros" th:href="@{/prestamos}">Prestamos</a>

	<br>

	<br>

	<br>

	<br>

	<a href="/libros" th:href="@{/insertalumnoform}">Insertar Alumno</a>
	
	<br>

	<br>

	<a href="/libros" th:href="@{/insertalibroform}">Insertar Libro</a>
	
	
	
	
	

</body>
</html>